<div class="fb blocks">
	{% for allServices in services %}
		<div class="fb row block">
			{% set domain = allServices[1] %}
			<div class="block-header block-service line block">
				<h2 class="smoll-title line">{{allServices[1]}}</h2>
				{# <p class="line">{{service.p}}</p> #}
			</div>

			<div class="block-container">
				{% for service in allServices[0] %}
					{% include "resource/components/block.html.twig" %}
				{% endfor %}
			</div>

			<div class="block-footer">
				<span></span>
				<a class="btn bg-second-trans bg-designe-col" href=" {{ path('app_services')}}domaine={{allServices[1]}}" style=" {% if services | length < cols | length %}--col:#{{cols[i]}} {% endif %} ">Voir plus de services de ce type</a>
			</div>
		</div>
		{# {% include "resource/components/blocks_service_designe.html.twig" %} #}
		{% set i = i-1 %}
	{% endfor %}

</div>
