{% extends 'base.html.twig' %}

{% block title %}
	Hello ServicesController!
{% endblock %}
{% block nav %}
	{% include "resource/_nav.html.twig" %}
{% endblock %}
{% block body %}
	<div class="container-fluid" id="services">
		<h1 class="big-title line">tous nos services</h1>
		<div class="row">
			<div class="flex line-05">
				<p class="p">search</p>
			</div>
			<div class="container">
				<div class="flex line-05">
					<div class="nav">
						<div class="nav-top line-05">
							<p class="p title bg-second line-10">filter</p>
						</div>
						<div class="nav-links line-05 rad-05 mrg-05">
							<p class="p">types</p>
							<ul>
								<li class="nav-link"><a href=" {{path('app_services')}}filter:free">free</a></li>
								<li class="nav-link"><a href=" {{path('app_services')}}filter:by">by</a></li>
							</ul>
						</div>
						<div class="nav-links line-05 bg-second rad-05 mrg-05">
							<p class="p">Services</p>
							<ul>

								{{ component('filter', {'class': 'nav-link', 'filter': 'filter'})}}
								<li class="nav-link">
									<a href=" {{path('app_services')}}filter:marketing">Marketing</a>
								</li>
								<li class="nav-link">
									<a href=" {{path('app_services')}}filter:maintenances">Maintenance</a>
								</li>
							</ul>
						</div>

					</div>
					<div class="row">
						<div class="block line-05">
							{{ component('services', {'services': services})}}
						</div>
					</div>
				</div>
			</div>
		</div>

	{% endblock %}
