{% extends "base.html.twig" %}
{% block body %}
	{{ include('resource/_nav.html.twig') }}
	<h2 class="big-title line">services
		{{ rootService}}
	</h2>

	{# {{component('product_search')}} #}

	{% for service in serviceVews %}
		<div class="blocks w100">
			<div class="block fcb w100">
				<h2 class="smoll-title">{{service.name | upper}}</h2>
				<div class="text mrg-05 line">
					<p class="title">{{service.description}}</p>
					<p class="p">Ce service est :
						<span>{{service.status}}</span>
					</p>
				</div>
				<a class="link btn btn-advanced fca" href=" {{ path('app_services') }}domaine={{rootService}}&service={{service.slug}} ">Detail du service
				</a>
			</div>
		</div>
	{% endfor %}

{% endblock body %}
