{% extends 'base.html.twig' %}

{% block title %}Hello TodoController!
{% endblock %}

{% block nav %}
	{% include "resource/_nav.html.twig" %}
{% endblock %}

{% block body %}

	<div class="container" id="todo">
		<div class="line w-100">
			{% for message in app.session.flashBag.get('info') %}
				<p class="p rad-05 line bg-second">
					{{message}}
				</p>
			{% endfor %}
			{% for message in app.session.flashBag.get('error') %}
				<p class="p rad-05 line bg-second">
					{{message}}
				</p>
			{% endfor %}
			{% for message in app.session.flashBag.get('success') %}
				<p class="p rad-05 line bg-second">
					{{message}}
				</p>
			{% endfor %}
		</div>
		<h1 class="big-title line">Votre liste à faire!
		</h1>
		<div class="container line-05">
			<ol>
				{% for name, content in app.session.get('todos') %}
					<li>
						{{name}}
						{{content}}
					</li>
				{% endfor %}
			</ol>
		</div>
	</div>
{% endblock %}
