{% extends 'base1.html.twig' %}

{% block title %}Hello ContactController!
{% endblock %}

{% block body %}

	<div class="container-fluid" id="contact">
		<div class="container">
			<h2 class="smoll-title line">bienvenus dans votre page de contact !</h2>
			<div class="text">
				<p class="p">Vous voulez contacter
					{{membre.name}}
					qui est dans
					{{domaine}}
				</p>
			</div>
			<div class="membre-personnel red line-10">
				<h3 class="title line">{{membre.name}}</h3>
				<div class="text">
					<p class="p">Domaine de compétance:
						<strong>{{membre.role}}</p>
					</p>
					<p class="p">Experience professionnel:
						<strong>{{membre.experience}}</p>
					</p>

					<p class="p">Numero téléphone:
						<strong>{{membre.tel}}</p>
					</p>
					<p class="p">Situation matrimoniale:
						<strong>{{membre.matrimoniale}}</p>
					</p>

					<p class="p">Brief description:
						<strong>{{membre.description}}</p>
					</p>
				</div>
			</div>
			<a class="link line btn btn-advanced" href=" {{path('app_clients')}} ">Clients</a>
			<div class="blocks">
				<div class="block">
					<h2 class="line smoll-title">dans le domaine
						{{domaine}}</h2>
					<h3>autre</h3>
				</div>
			</div>

		</div>
	</div>
{% endblock %}
