<nav class="column">
  {# premier column de la nav #}
  <div class="fcb navTop">
    <a href=" {{ path('app_home') }} "><img src=" {{ asset('build/images/my/web/logo-for-white-navbar.png') }}" alt="logo" /></a>
    <menu>
      <div class="fca">
        <div class="form-controler">{{ form_start(searchForm) }}
          {{ form_end(searchForm) }}</div>

        <div class="bar cca">
          <p class="p">
            Téléphone : <span><img src=" {{ asset('build/images/icons/icon/phone.gif') }} " alt="phone call" /></span><strong>33 000 00 00</strong>
          </p>
        </div>
      </div>
    </menu>
  </div>

  <div class="navBottom fcb">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a href=" {{ path('app_home') }} " class="nav-link active">Acceuil</a>
      </li>
      <li class="nav-item">
        <a href=" {{ path('app_propos') }} " class="nav-link">A propos</a>
      </li>
      <li class="nav-item">
        <a href=" {{ path('app_clients') }} " class="nav-link">Clients</a>
      </li>
      <li class="nav-item">
        <a href=" {{ path('app_propos') }}equipes" class="nav-link">Equipes</a>
      </li>
      <li class="nav-item">
        <a href=" {{ path('app_services') }} " class="nav-link">Services</a>
      </li>
    </ul>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a href=" {{ path('app_contact') }} " class="btn btn-advance">Contactez-nous</a>
      </li>
      <li class="nav-item">
        <a href=" {{ path('app_shop') }} " class="nav-link">Boutique / Shop</a>
      </li>
    </ul>
  </div>
</nav>

<script></script>
