<div class="block block-service row">
	{# {% include "resource/components/single_block.html.twig" %} #}
	<div class="row block line-05 block-service">
		<strong>{{service.name |upper}}</strong>
		<div class="span fce">
			<div class="img"></div>
			<strong>ce service est:
				<span id="status-service">{{service.status}}</span>
			</strong>
		</div>
		<p class="line-05">{{service.description}}</p>
		{% if service.typeofservice == 'gratuite' %}
			<p class="p line-05 rad-05 mrg-05">Ce sercive est
				<span class="typeofservice">{{service.typeofservice}}</span>
			</p>
		{% endif %}
		<a class="link btn bg-second fca" href=" {{ path('app_services')}}domaine={{ domaine }}&service={{service.slug}}">Voir</a>
	</div>
</div>
