{% extends 'base.html.twig' %}

{% block title %}Hello EquipeController!
{% endblock %}

{% block body %}
	{% include "resource/_nav.html.twig" %}
	<div class="container-fluid" id="equipe">
		<div class="container">
			<div class="text">
				<P class="P">description de cette page equipe et c'est quoi sont but</p>
			</div>
			<div class="blocks">
				{% for membre in membres %}
					<div class="block red">
						<h2 class="smoll-title line">{{membre.name}}</h2>
						{# ont va mettre ici son image #}
						<div class="text line-05">
							<p>Il est :<strong>{{membre.role}}</strong>
							</p>
							<p>Il a :
								<strong>{{membre.age}}</strong>ans</p>
							<strong>Année experiences:
								<span>{{membre.experience}}</span>
								ans</strong>
						</div>
						<a class="fca link btn btn-advanced" href=" {{path('app_equipe')}}{{membre.slug}} ">voir son profile</a>

					</div>
				{% endfor %}
			</div>


		</div>
	</div>

{% endblock %}
