{% extends 'base.html.twig' %}

{% block title %}Hello EquipeController!
{% endblock %}
{% block body %}
	{% include "resource/_nav.html.twig" %}

	<div class="container-fluid" id="membre">
		<div class="container green">
			<div class="block">
				<h2 class="smoll-title line">{{membrePersonnel.name}}</h2>
				{# ont va mettre ici son image #}
				<div class="text line-05">
					<p>Il est :<strong>{{membrePersonnel.role}}</strong>
					</p>
					<p>Il a :
						<strong>{{membrePersonnel.age}}</strong>ans</p>
					<strong>Année experiences:
						<span>{{membrePersonnel.experience}}</span>
						ans</strong>
				</div>
				<a class="fca link btn btn-advanced" href=" {{path('app_contact')}}domaine=equipe&sujet={{membrePersonnel.slug}} ">Contactez-le</a>
			</div>
		</div>
	</div>
{% endblock %}
