{% extends 'base.html.twig' %}

{% block title %}Hello ClientsController!
{% endblock %}

{% block body %}
	{{ include('resource/_nav.html.twig') }}
	<div class="container-fluid line" id="clients">
		<h1 class="big-title line">clients</h1>
		<div class="container">
			<div class="flex">
				<div class="navbar">
					<strong class="title">filtre des clients</strong>
					<div class="nav-links">
						<ul>
							<li class="fca"><a class="link btn" href=" {{path('app_clients')}}">normale</a></li>
							<li class="active fca"><a class="link btn" href=" {{path('app_clients')}}filter=web">Web</a></li>
							<li class="fca"><a class="link btn" href=" {{path('app_clients')}}filter=boutique">Boutique</a></li>
						</ul>
					</div>
				</div>

				<div class="container">
					{% if filter %}
						<div class="row">
							<h2 class="smoll-title line">{{nameFilter}}</h2>
							<div class="blocks">
								{% if filter != 1 %}
									{{filter}}
									{# {{clients}} #}
									<pre>
										{{ dump(clients) }}
									</pre>

									<h2 class="big-title line rad-05 btn-secondary">{{filter}}</h2>
								{% endif %}
								{% for client in clients %}
									<div class="block row rad-05 btn-secondary">
										<h2 class="smoll-title line">{{client.name}}</h2>
										<div class="text">
											<p class="p line-05">{{client.description}}</p>
											<strong>nom de son entreprise</strong>
										</div>
										<a class="link btn btn-title line" href=" {{ path('app_shop')}}{{client.name}}">Detail de
											{{client.role}}</a>
									</div>
								{% endfor %}
							</div>
						</div>
					{% else %}
						<div class="text">
							<p class="line-10 rad-05 btn-secondary">js suis la div qui a la class text</p>
						</div>
						{% if clientsWeb %}
							<div class="row">
								<h2 class="smoll-title line">web</h2>
								<div class="blocks">
									{% for client in clientsWeb %}
										<div class="block row rad-05 btn-secondary">
											<h2 class="smoll-title line">{{client.name}}</h2>
											<div class="text">
												<p class="p line-05">{{client.description}}</p>
												<strong>nom de son entreprise</strong>
											</div>
											<a class="link btn btn-title line" href=" {{ path('app_shop')}}{{client.name}}">Detail de
												{{client.role}}</a>
										</div>
									{% endfor %}
								</div>
							</div>
						{% endif %}
						{% if clientsShop %}
							<div class="row">
								<h2 class="smoll-title line">Boutique</h2>
								<div class="blocks">
									{% for client in clientsShop %}
										<div class="block row rad-05 btn-secondary">
											<h2 class="smoll-title line">{{client.name}}</h2>
											<div class="text">
												<p class="p line-05">{{client.description}}</p>
												<strong>nom de son entreprise</strong>
											</div>
											<a class="link btn btn-title line" href=" {{ path('app_shop')}}{{client.name}}">Detail de
												{{client.role}}</a>
										</div>
									{% endfor %}
								</div>
							</div>
						{% endif %}
					{% endif %}

				</div>
			</div>
		</div>

	</div>
{% endblock %}
